body {
    background-color: #ffffe0;
    margin: 8px 20px;
}
p {
    font-size: 13px;
}
.title {
    text-align: center;
    color: #cc0000;
    font-weight: bold;
    font-size: 16px;
    margin-top: 30px;
}
.italic-text {
    font-style: italic;
}
.number_chapter {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #cc0000;
    margin-top: 30px;
    margin-bottom: 13px;
}
img {
    display: block;
    margin: 0 auto;
}